.colorboxed-header {
    background-color: #5ab500;
    min-width: 40%;
    width: 40%;
}

button {
    font-size: large;
}

/* Leaflet */
#leafletmap {
    width: 800px;
    height: 600px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}