<!DOCTYPE html>
<html>
<head>
    <title>kwRPG Map Engine :: Trollfjorden</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <script type="text/javascript" src="frontend/js/html5shiv.js"></script>
    <script type="text/javascript" src="frontend/js/jquery.min.js"></script>
    <script type="text/javascript" src="frontend/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="frontend/js/tinymce.config.js"></script>
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="frontend/css/frontend.edit.css" />
    <script type="text/javascript">
        $(document).ready(function(){
            tinify(tiny_config['full'], 'edit-textarea');
            $("#actor-back").on('click', function(){
                document.location.href = '<?php echo $html_callback  ?>';
            });
        });
    </script>
</head>

<body>
<h2>Координаты: <?php echo $_GET['hexcoord']?> </h2>

<form action="backend/action.put.content.php" method="post">
    <input type="hidden" name="hexcoords" value="<?php echo $_GET['hexcoord']?>" />
    <input type="hidden" name="hexcoord_col" value="<?php echo $coords_col; ?>" />
    <input type="hidden" name="hexcoord_row" value="<?php echo $coords_row; ?>" />
    <input type="hidden" name="callback" value="<?php echo $_GET['frontend']; ?>" />

    <fieldset class="fields_area">
        <div class="field">
            <label for="title">Название региона:</label>
            <input type="text" name="title" id="title" size="60" value="<?php echo $template['title'] ?>" />
        </div>
    </fieldset>

    <label for="edit-textarea" class="label_textarea label_fullwidth">
        <textarea name="textdata" id="edit-textarea" cols="10" tabindex="3"><?php echo $template['text'] ?></textarea>
    </label>

    <fieldset class="fields_area">
        <div class="field">
            <label for="edit_reason">Причина редактирования:</label>
            <input type="text" name="edit_reason" id="edit_reason" size="60" value="<?php echo $template['edit_reason'] ?>" />
        </div>
        <div class="field">
            <label for="editor_name">Редактор:</label>
            <input required type="text" name="editor_name" id="editor_name" size="60" value="<?php echo $template['editor_name'] ?>"/>
        </div>
        <span> <?php echo $template['message']; ?> </span>

    </fieldset>
    <div class="clear"></div>
    <fieldset>
        <div class="label_fullwidth">
            <button type="submit">Сохранить</button>
            <button type="button" id="actor-back" style="float:right">Назад на карту</button>
        </div>
    </fieldset>

</form>
<br/>
<fieldset id="revisions_fieldset">
    <legend>Revision history</legend>
    <ul>
        <?php echo $revisions_string; ?>
    </ul>
</fieldset>
<div class="clear"></div>
<hr>
<small><em>(c) Karel Wintersky, Aug 2015</em></small>

</body>
</html>