<!DOCTYPE html>
<html>
<head>
    <title>{*project_alias*}, {*map_alias*}, редактирование</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <script type="text/javascript" src="/frontend/js/html5shiv.js"></script>
    <script type="text/javascript" src="/frontend/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/frontend/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        var tiny_config = {
            theme: "modern",
            skin: "lightgray",
            language: 'ru',

            forced_root_block : "",
            force_br_newlines : true,
            force_p_newlines : false,

            height: 300,

            plugins: [ "advlist lists autolink link image anchor responsivefilemanager charmap insertdatetime paste searchreplace contextmenu code textcolor template hr pagebreak table print preview wordcount visualblocks visualchars legacyoutput" ],
            formats: {
                strikethrough : {inline : 'del'},
                underline : {inline : 'span', 'classes' : 'underline', exact : true}
            },
            insertdatetime_formats: ["%d.%m.%Y", "%H:%m", "%d/%m/%Y"],
            contextmenu: "link image responsivefilemanager | inserttable cell row column deletetable | charmap",
            toolbar1: "pastetext | undo redo | link unlink anchor | forecolor backcolor | styleselect formatselect fontsizeselect | template | print preview code | pastetext removeformat",
            toolbar2: "responsivefilemanager image | bold italic underline subscript superscript strikethrough | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table inserttime",
            image_advtab: true, // advanced tab (without rel or class add)
            // responsive filemanager
            relative_urls: false,
            document_base_url: "/",
            external_filemanager_path:"/frontend/js/filemanager/",
            filemanager_title:"Responsive Filemanager" ,
            external_plugins: {
                "filemanager" : "/frontend/js/filemanager/plugin.js"
            }
        };
        function tinify(config, elem, mode)
        {
            m = (typeof mode != 'undefined') ? mode : true;
            tinyMCE.settings = config;
            m
                    ? tinyMCE.execCommand('mceAddEditor', true, elem)
                    : tinyMCE.execCommand('mceRemoveEditor', false, elem);
        }


    </script>
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="/frontend/css/frontend.edit.css" />
    <script type="text/javascript">
        $(document).ready(function(){
            tinify(tiny_config, 'edit-textarea');

            $("#actor-back").on('click', function(){
                document.location.href = '{*html_callback*}';
            });
        });
    </script>
</head>

<body>
<h2>Координаты: {*hexcoord*} </h2>

<form action="/backend/action.put.content.php" method="post">
    <input type="hidden" name="project_alias" value="{*project_alias*}" />
    <input type="hidden" name="map_alias" value="{*map_alias*}" />
    <input type="hidden" name="hexcoords" value="{*hexcoord*}" />
    <input type="hidden" name="hexcoord_col" value="{*coords_col*}" />
    <input type="hidden" name="hexcoord_row" value="{*coords_row*}" />
    <!-- <input type="hidden" name="callback" value="{*html_callback*}" /> -->

    <fieldset class="fields_area">
        <div class="field">
            <label for="title">Название региона:</label>
            <input type="text" name="title" id="title" size="60" value="{*region_title*}" />
        </div>
    </fieldset>

    <label for="edit-textarea" class="label_textarea label_fullwidth">
        <textarea name="textdata" id="edit-textarea" cols="10" tabindex="3">{*region_text*}</textarea>
    </label>

    <fieldset class="fields_area">
        <div class="field">
            <label for="edit_reason">Причина редактирования:</label>
            <input type="text" name="edit_reason" id="edit_reason" size="60" value="{*region_edit_reason*}" />
        </div>
        <div class="field">
            <label for="editor_name">Редактор:</label>
            <input required type="text" name="editor_name" id="editor_name" size="60" value="{*region_editor_name*}"/>
        </div>
        <span> {*info_message*} </span>

    </fieldset>
    <div class="clear"></div>
    <fieldset>
        <div class="label_fullwidth">
            <button type="submit">Сохранить</button>
            <button type="button" id="actor-back" style="float:right">Назад на карту</button>
        </div>
    </fieldset>

</form>
<br/>
<fieldset id="revisions_fieldset">
    <legend>Revision history</legend>
    <ul>
        {*region_revisions*}
    </ul>
</fieldset>
<div class="clear"></div>
<hr>
<small><em>{*copyright*}</em></small>

</body>
</html>