<!DOCTYPE html>
<html>
<head>
    <title>Живые карты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

<h2>Общее</h2>

<ul>
{?*is_logged_in=0*}
    <li>
        <a href="/login">Вход в систему</a>
    </li>
    <li>
        <a href="/register">Регистрация в системе</a>
    </li>
    <li>
        <a href="/recover">Напомнить пароль</a>
    </li>
    <li>
        <a href="/activateaccount">Перейти к активации аккаунта</a>
    </li>
    <li>
        <a href="/resetpassword">Перейти к вводу ключа восстановления аккаунта</a>
    </li>
{*is_logged_in=0*?}

{?*is_logged_in=1*}

    <li>
        <a href="/mysettings">Настройки аккаунта</a>
    </li>
    <li>
        <a href="/logout">Выход (логаут)</a>
    </li>

{*is_logged_in=1*?}

</ul>

<h2>Проекты</h2>

<ul>
    <li>
        <a href="/sandbox">Песочница</a>
    </li>
</ul>

</body>
</html>