<!DOCTYPE html>
<html>
<head>
    <title>Живые карты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

<h2>Действия</h2>

<ul>
{?*is_logged_in=0*}
    <li>
        <a href="/login">Вход в систему</a>
    </li>
    <li>
        <a href="/register">Регистрация в системе</a>
    </li>
    <li>
        <a href="/recover">Напомнить пароль</a>
    </li>
    <li>
        <a href="/activateaccount">Перейти к активации аккаунта</a>
    </li>
    <li>
        <a href="/resetpassword">Перейти к вводу ключа восстановления аккаунта</a>
    </li>
{*is_logged_in=0*?}

{?*is_logged_in=1*}

    <li>
        <a href="/mysettings">Настройки аккаунта</a>
    </li>
    <li>
        <a href="/logout">Выход (логаут)</a>
    </li>

{*is_logged_in=1*?}

</ul>

{?*is_logged_in=1*}

<h2>Мои проекты</h2>
<ul>
    {?*my_projects_count=0*}
    <li>
        У меня еще нет проектов.
    </li>
    {*my_projects_count=0*?}

    {%*my_projects_list*}
    <li>
        <a href="/{*my_projects_list:project_alias*}">{*my_projects_list:project_title*}</a>
    </li>
    {*my_projects_list*%}
</ul>
<a href="">Создать проект >>> </a>

{*is_logged_in=1*?}

<h2>Общедоступные проекты</h2>

<ul>
    <li>
        <a href="/sandbox">Песочница</a>
    </li>
</ul>

<a href="https://telegram.me/joinchat/BDcmKDuq5DGPwBx8z8ewuw" target="_blank">Книга жалоб и предложений (Telegram)</a>

</body>
</html>