<!DOCTYPE html>
<html>
<head>
    <title>Живые карты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

<h2>Общее</h2>

<ul>
{?*user_status="logged_out"*}
    <li>
        <a href="/login">Вход в систему</a>
    </li>
    <li>
        <a href="/register">Регистрация в системе</a>
    </li>
    <li>
        <a href="/recover">Напомнить пароль</a>
    </li>
{*user_status="logged_out"*?}

{?*user_status="logged_in"*}

    <li>
        <a href="/mysettings">Мои настройки профиля</a>
    </li>
    <li>
        <a href="/logout">Выход (логаут)</a>
    </li>

{*user_status="logged_in"*?}

</ul>

<h2>Троллячьи фьорды</h2>

<ul>
    <li>
        <a href="/trollfjorden">Trollfjorden</a>
    </li>
</ul>

</body>
</html>