<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<pre>
Это страница, на которой мы выводим общедоступную информацию по проекту.

Здесь живут ссылки на имеющиеся карты, описание проекта.

Для владельца проекта показываются кнопки настроек:
а) проекта
б) прав пользователей

Для остальных зареганных (не редакторов) показывается кнопка join team

кроме того, для редакторов и владельца показывается changelist по проекту

    А пока что тут живет просто ссылка на активную карту
    </pre>

<ul>
    <li>
        <a href="/trollfjorden/map">Единственная карта</a>
    </li>
    <li>
        <a href="/trollfjorden/@/project.editteam">Настройки прав команды (ссылку видит владелец)</a>
    </li>
    <li>
        <a href="/trollfjorden/@/project.settings">Настройки проекта (ссылку видит владелец)</a>
    </li>
    <li>
        <a href="/trollfjorden/@/project.contribution">Настройки участия (ссылку видит редактор)</a>
    </li>

</ul>



</body>
</html>