<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>
<body>

<h2>Карты:</h2>

<ul>
    <li>
        <a href="/trollfjorden/map">Карта Троллячьих Фьордов</a>
    </li>
</ul>

<h2>Внимание, сейчас эти ссылки видят все (благо они не работают ;-) )</h2>

<ul>
    <li>
        <a href="/trollfjorden/@/project.editteam">Настройки прав команды (ссылку видит владелец)</a>
    </li>
    <li>
        <a href="/trollfjorden/@/project.settings">Настройки проекта (ссылку видит владелец)</a>
    </li>
    <li>
        <a href="/trollfjorden/@/project.contribution">Настройки участия (ссылку видит редактор)</a>
    </li>

</ul>
<!--
<fieldset>
    <legend>Информация для размышления</legend>
    <pre>
Это страница, на которой мы выводим общедоступную информацию по проекту.

Здесь живут ссылки на имеющиеся карты, описание проекта.

Для владельца проекта показываются кнопки настроек:
а) проекта
б) прав пользователей

Для остальных зареганных (не редакторов) показывается кнопка join team

кроме того, для редакторов и владельца показывается changelist по проекту

    А пока что тут живет просто ссылка на активную карту
</pre>

</fieldset>
-->

</body>
</html>