<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>
<body>

<h2>Карты:</h2>

<ul>
    {%*maps_list*}
    <li>
        <a href="/{*project_alias*}/{*maps_list:map_alias*}">{*maps_list:map_title*}</a>
    </li>
    {*maps_list*%}
</ul>

<fieldset>
    <legend>О проекте</legend>
    {*project_description*}
</fieldset>

<br/>

<!-- кроме того, для редакторов и владельца показывается changelist по проекту -->
<!--
<fieldset>
    <legend>Список изменений</legend>

</fieldset>
-->

<!--
<h2>Внимание, сейчас эти ссылки видят все (благо они не работают ;-) )</h2>

<ul>
    <li>
        <a href="/trollfjorden/@/project.settings">Настройки проекта (ссылку видит владелец)</a>
    </li>
    <li>
        <a href="/trollfjorden/@/project.editteam">Настройки прав команды (ссылку видит владелец)</a>
    </li>
    <li>
        <a href="/trollfjorden/@/project.contribution">Настройки участия (ссылку видит редактор)</a>
    </li>
    <li>
        <a href="/trollfjorden/@/project.jointeam">Присоединиться к команде (для всех остальных: как наблюдатель, как редактор)</a>
        ?не усложнение ли: Пока пользователь не заапрувлен владельцем как редактор - он стоит как наблюдатель. Или разделить?

    </li>

</ul>
-->

<a href="/">Назад</a>

</body>
</html>