# ErrorDocument 404 /404.php

RewriteEngine on
RewriteBase /

# RewriteCond %{REQUEST_FILENAME} !^favicon\.ico
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_URI} !^/backend/
# ------------
# swap this rules for change behavior
# ------------

#any project map
RewriteRule ^([A-Za-z0-9-]+)/([^/]+)$ view.php?project=$1&map=$2 [L,QSA]

#project settings
#(костыыыыль), кроме того, вместо \* поставил \@ потому что * в ссылках криво парсится шаблонизатором
RewriteRule ^([A-Za-z0-9-]+)/\@/project.editteam$ project_editteam.php?project=$1 [L,QSA]
RewriteRule ^([A-Za-z0-9-]+)/\@/project.settings$ project_settings.php?project=$1 [L,QSA]
RewriteRule ^([A-Za-z0-9-]+)/\@/project.contribution$ project_contribution.php?project=$1 [L,QSA]

# ---------------
#any project, any map, edit
RewriteRule ^([A-Za-z0-9-]+)/([^/]+)/edit$ edit.php?project=$1&map=$2 [L,QSA]

#root rules
RewriteRule ^register$ auth.php?action=register [L,QSA]
RewriteRule ^login$ auth.php?action=login [L,QSA]
RewriteRule ^logout$ auth.php?action=logout [L,QSA]
RewriteRule ^recover$ auth.php?action=recover [L,QSA]
RewriteRule ^mysettings$ auth.php?action=mysettings [L,QSA]
# PHPAuth required this pages
RewriteRule ^auth_activateaccount$ auth.php?action=auth_activateaccount [L,QSA]
RewriteRule ^auth_resetpassword$ auth.php?action=auth_resetpassword [L,QSA]

#project info
RewriteRule ^([A-Za-z0-9-]+)$ info.php?project=$1 [L,QSA]
