php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
# php_value error_reporting "E_ALL & ~E_NOTICE"

ErrorDocument 404 /404.php

RewriteEngine on
RewriteBase /

# RewriteCond %{REQUEST_FILENAME} !^favicon\.ico
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# project/map
RewriteRule ^([A-Za-z0-9-]+)/([^/]+)$ map.php?project=$1&map=$2 [L,QSA]

# project/settings
#кроме того, вместо \* поставил \@ потому что * в ссылках криво парсится шаблонизатором
RewriteRule ^([A-Za-z0-9-]+)/\@/project.editteam$ project.editteam.php?project=$1 [L,QSA]
RewriteRule ^([A-Za-z0-9-]+)/\@/project.settings$ project.settings.php?project=$1 [L,QSA]
RewriteRule ^([A-Za-z0-9-]+)/\@/project.contribution$ project.contribution.php?project=$1 [L,QSA]

# ---------------
# project/map/edit
RewriteRule ^([A-Za-z0-9-]+)/([^/]+)/edit$ edit.region.php?project=$1&map=$2 [L,QSA]

# root rules (auth)
RewriteRule ^register$  auth.controller.php?action=register [L,QSA]
RewriteRule ^login$     auth.controller.php?action=login [L,QSA]
RewriteRule ^logout$    auth.controller.php?action=logout [L,QSA]
RewriteRule ^recover$   auth.controller.php?action=recover [L,QSA]
RewriteRule ^mysettings$ auth.controller.php?action=mysettings [L,QSA]
RewriteRule ^activateaccount$ auth.controller.php?action=activateaccount [L,QSA]
RewriteRule ^resetpassword$ auth.controller.php?action=resetpassword [L,QSA]

# /project (info)
RewriteRule ^([A-Za-z0-9-]+)$ project.php?project=$1 [L,QSA]
