body {
    font-size:14pt;
}

button {
    font-size: large;
}


fieldset {
    margin: 0;
}
.fields_area {
    float: left;
    clear: both;
}
.field {
    clear:both;
    text-align:right;
    line-height:20pt;
}
label {
    float:left;
    padding-right:55px;
}
.label_textarea {
    padding: 0;
}
.label_fullwidth {
    width: 100%;
}
.clear {
    clear: both;
}
ul {
    margin:0;
}
#revisions_fieldset {
    float: left;
    clear: both;
    width:90%;
    font-size: 10pt;
}