<!DOCTYPE html>
<html>
<head>
    <title>Живые карты -- мои настройки</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>
<body>

<h2>Мои настройки (не работают)</h2>

Who am i:

<pre>
Resend Activation: auth->resendActivation(email)
Change Password: $auth->changePassword()
Change Email: auth->changeEmail()
    </pre>

<form action="/backend/action.try.updatemyprofile.php" method="post">
    <div>
        <button name="auth:updatemyprofile">Try!</button>
    </div>
</form>

<a href="/">На стартовую...</a>

</body>
</html>