<!DOCTYPE html>
<html>
<head>
    <title>Живые карты -- регистрация нового пользователя</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>
<body>

<h2>Регистрация</h2>

<fieldset>
    В пароле должна быть хотя бы 1 цифра, 1 строчная и 1 прописная буква.
</fieldset>

<form action="/backend/action.try.register.php" method="post">
    <div>
        <label for="reg_email">E-Mail:</label>
        <input type="text" size="15" id="reg_email" name="auth:reg_email">
    </div>
    <div>
        <label for="reg_password">Password:</label>
        <input type="text" size="15" id="reg_password" name="auth:reg_password">
    </div>
    <div>
        <label for="reg_password_again">Retype password:</label>
        <input type="text" size="15" id="reg_password_again" name="auth:reg_password_again">
    </div>
    <!--
    <div>
        <label for="reg_username">Username:</label>
        <input type="text" size="15" id="reg_username" name="auth:reg_username">
    </div>
    <div>
        <label for="reg_eula">Я согласен с условиями</label>
        <input type="checkbox" id="reg_eula" name="auth:reg_eula_checked" value="1" required="1">
    </div>
    -->
    <div>
        <button name="auth:reg_new_user_try">Try!</button>
    </div>
</form>

<a href="/">На стартовую...</a>

</body>
</html>