<!DOCTYPE html>
<html>
<head>
    <title>Живые карты -- восстановление доступа к аккаунту</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

<h2>Восстановление доступа к аккаунту</h2>

Введите ключ сброса пароля и новый пароль.

<form action="/backend/action.auth.password.reset.php" method="post">
    <div>
        <label for="auth_reset_key">Ключ сброса пароля:</label>
        <input type="text" size="20" id="auth_reset_key" name="auth:reset_key" required>
    </div>

    <div>
        <label for="auth_reset_password">Новый пароль:</label>
        <input type="text" size="15" id="auth_reset_password" name="auth:new_password" required>
    </div>
    <div>
        <label for="auth_reset_password_again">Повторите пароль:</label>
        <input type="text" size="15" id="auth_reset_password_again" name="auth:new_password_again" required>
    </div>
    <div>
        <button name="auth:try_reset">Сохранить новый пароль!</button>
    </div>
</form>

<hr>

<a href="/">На стартовую...</a>

</body>
</html>