<!DOCTYPE html>
<html>
<head>
    <title>Живые карты -- активация аккаунта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

<h2>Активация аккаунта</h2>

<form action="/backend/action.auth.activate.php" method="post">
    <div>
        <label for="auth_activate_key">Ключ активации: </label>
        <input type="text" size="20" id="auth_activate_key" name="auth:activate_key">
    </div>
    <div>
        <button name="auth:try_activate">Активировать аккаунт!</button>
    </div>
</form>

<hr/>

<a href="/">На стартовую...</a>

</body>
</html>