<!DOCTYPE html>
<html>
<head>
    <title>Живые карты -- активация аккаунта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

<h2>Активация аккаунта</h2>

<pre>
Еще надо добавить:

Имя пользователя
Обращение
Аватарка

    В случае успешной активации эти поля добавляем в базу, в lme_list_users
</pre>

<form action="/backend/action.try.activate.php" method="post">
    <div>
        <label for="auth_activate_key">Activation key</label>
        <input type="text" size="20" id="auth_activate_key" name="auth:activate_key">
    </div>
    <div>
        <button name="auth:try_activate">Try activate!</button>
    </div>
</form>

<a href="/">На стартовую...</a>

</body>
</html>