<!DOCTYPE html>
<html>
<head>
    <title>Живые карты -- сброс пароля</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

<h2>Сброс пароля</h2>

А тут вообще пока непонятно что происходит :(

<form action="/backend/" method="post">
    <div>
        <label for="log_in_password">Password</label>
        <input type="password" size="15" id="log_in_password" name="auth:login_password">
    </div>
    <div>
        <button disabled name="auth:logintry">Try!</button>
    </div>
</form>

<a href="/">На стартовую...</a>

</body>
</html>