<!DOCTYPE html>
<html>
<head>
    <title>Redirect... </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="refresh" content="{*html_callback_timeout*};URL={*html_callback*}">
    <style type="text/css">
        #wait {
            color: red;
            font-weight: bold;
        }
        .button-huge {
            height: 120px;
            width:400px;
        }
        .info {
            color: #7b68ee;
            font-weight: bold;
        }
    </style>

    <script type="text/javascript">
        var delay = {*html_callback_timeout*};
        var pause = step = 0.5;
        var callback = '{*html_callback*}';
        var dtf;
        function CountDown()
        {
            if (delay > 0) {
                dtf = delay.toFixed(1);
                document.getElementById("wait").innerHTML = dtf;
                document.title = '...осталось '+ dtf + ' секунд...';
                delay -= step;
                setTimeout("CountDown('wait')", pause*1000);
            } else {
                document.location.href = callback;
            }
        }
    </script>

</head>
<body onLoad="CountDown()">
<div class="info">Восстановление пароля: {*error_messages*}</div>
<hr>
<button class="button-huge" onclick="window.location.href='{*html_callback*}'">Назад
    <br><br>До перехода осталось <span id="wait">{*html_callback_timeout*}</span> секунд
</button>
</body>
</html>
